$base: rgb(51, 51, 51);
$line:rgb(199, 199, 205);
$message: #4fb2ff;
$notcheck:rgb(165, 178, 198);
$content :rgb(252, 168, 118);
$line:#cdd3dc;
$checked:#fb975c;
$posNotCheckB:#e6eff7;
$posNotCheck: #a5b2c6;
$posCheck:#fc8181;
$seq:#ffa068;
$shopname:#666666;
$tastygood:rgb(242, 103, 110);
$foodkind:rgb(189, 142, 255);
$detailPos:rgb(166, 182, 198);
$tip:rgb(135, 193, 251);
$like:#f2676e;
$college:rgb(153, 153, 153);
$shadow:#f8d576;
$comline:#ececf2;